body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: flex;
  gap: 10px;
}

h2 {
  margin: 0;
}


.create-btn {
  padding: 8px 14px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn {
  padding: 8px 14px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background: #4facfe;
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background: #f1f1f1;
}

/* Buttons */
.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.update-btn {
  background: #ffc107;
  color: black;
}

.update-btn:hover {
  background: #e0a800;
}

.delete-btn {
  background: #dc3545;
  color: white;
}

.delete-btn:hover {
  background: #c82333;
}
